{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="d-flex justify-content-center align-items-center">
        <div class="w-50">
            {% if messages %}
            {% for msg in messages %}
            <div class="alert alert-{{ msg.tags }}" role="alert">
                {{ msg }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </div>
    {% if empty %}
        <div class="jumbotron">
          <h1 class="display-4">Live Auctions Are Empty!</h1>
          <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
          <hr class="my-4">
          <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
          <a class="btn btn-primary btn-lg" href="/" role="button">Refresh</a>
        </div>
        {% else %}
        <div class="row row-cols-1 row-cols-md-4">
        {% for auction in auctions %}
              <div class="col mb-4">
                <div class="card">
                    <a href="/bid/{{ auction.id }}/" class="card-link"><img height="300px" src="{{ auction.image.url }}" class="card-img-top" alt="..."></a>
                  <div class="card-body">
                    <h5><a class="card-title" href="/detail-art/{{ art.id }}/">{{ auction.name|title }}</a></h5>
                      <p class="card-text">{{ auction.desc|title|truncatechars:50 }}</p>
                      <p class="card-text">{{ auction.remain_time }}</p>
                      <a href="/profile/{{ auction.user }}/" class="btn btn-success">{{ auction.user|title }}</a>
                      <a href="/all-bids/{{ auction.id }}" class="btn btn-success">See bids</a>
                  </div>
                </div>
              </div>
        {% endfor %}
    </div>
    {% endif %}
{% endblock %}