{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row d-flex justify-content-center">
        <div class="col-md-7">
            <div class="card p-3 py-4">
                <div class="text-center">
                    {% if user.profile.image %}
                        <img src="{{ user.profile.image.url }}" width="150" class="rounded-circle">
                    {% else %}
                        <img src="https://picsum.photos/200/300" width="100" class="rounded-circle">
                    {% endif %}
                </div>

                <div class="text-center mt-3">
                    <span class="bg-secondary p-1 px-4 rounded text-white">{{ user.username|title }}</span>
                    <h5 class="mt-2 mb-0">{{ user.first_name|title }} {{ user.last_name|title }}</h5>
                    <span>{{ user.profile.designation|title }}</span>

                    <div class="px-4 mt-1">
                        <p class="fonts">{{ user.profile.about }}</p>

                    </div>

                     <ul class="social-list">
                         <a href="{{ user.profile.fb }}" target="_blank"><li><i class="fa fa-facebook"></i></li></a>
                         <a href="{{ user.profile.ins }}" target="_blank"><li><i class="fa fa-instagram"></i></li></a>
                        <a href="{{ user.profile.linkedIn }}" target="_blank"><li><i class="fa fa-linkedin"></i></li></a>
                    </ul>

                    <div class="buttons">
                        {% if request.user.is_authenticated %}
                            {% if request.user == user.username %}
                                <a href="/profile-edit/{{ user.username }}" class="btn btn-outline-primary px-4">Edit</a>
                            {% endif %}
                            {% endif %}
                        <button class="btn btn-success px-4 ms-3">Contact</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}